services:
  backend:
    build: ./backend
    container_name: backend
    depends_on:
      database:
        condition: service_healthy
    env_file:
      - .env.production
    networks:
      - application
    ports:
      - "8080:8080"
  database:
    command: --require_secure_transport=OFF
    container_name: database
    env_file:
      - .env.production
    healthcheck:
      interval: 10s
      retries: 5
      start_period: 30s
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p$$MYSQL_ROOT_PASSWORD"]
      timeout: 5s
    image: mysql:latest
    networks:
      - application
    ports:
      - "3306:3306"
    volumes:
      - ./persistence:/var/lib/mysql
      - /usr/share/zoneinfo:/usr/share/zoneinfo:ro
  iam-service:
    build: ./iam-service
    container_name: iam-service
    depends_on:
      database:
        condition: service_healthy
    env_file:
      - .env.production
    networks:
      - application
    ports:
      - "8081:8081"
  review-service:
    build: ./review-service
    container_name: review-service
    depends_on:
      database:
        condition: service_healthy
    env_file:
      - .env.production
    networks:
      - application
    ports:
      - "8082:8082"
  service-registry:
    build: ./service-registry
    container_name: service-registry
    env_file:
      - .env.production
    networks:
      - application
    ports:
      - "8761:8761"
networks:
  application:
    driver: bridge
volumes:
  persistence:
    driver: local
