x-common-database: &common-database
  image: mysql:latest
  command: --require_secure_transport=OFF
  environment:
    - MYSQL_DATABASE=bookmark
    - MYSQL_PASSWORD=password
    - MYSQL_ROOT_PASSWORD=password
    - MYSQL_USER=bookmark
  networks:
    - application
  healthcheck:
    test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p$$MYSQL_ROOT_PASSWORD"]
    interval: 10s
    timeout: 5s
    retries: 5
    start_period: 30s

x-common-service: &common-service
  networks:
    - application

services:
  keycloak:
    command: ["start-dev", "--http-port", "7080", "--https-port", "7443"]
    container_name: keycloak
    environment:
      - KC_HEALTH_ENABLED=true
      - KC_HOSTNAME=localhost
      - KC_HOSTNAME_PORT=7080
      - KC_HOSTNAME_STRICT_BACKCHANNEL=true
      - KEYCLOAK_ADMIN_USERNAME=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KC_HEALTH_ENABLED=true
      - KC_LOG_LEVEL=info
    healthcheck:
      test: ["CMD-SHELL", "exec 3<>/dev/tcp/localhost/7080 && exit 0 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    image: keycloak/keycloak:latest
    networks:
      - application
    ports:
      - "7080:7080"
      - "7443:7443"
      - "9000:9000"
  book-list-database:
    <<: *common-database
    container_name: book-list-database
    ports:
      - "33001:3306"
    volumes:
      - book_list_persistence:/var/lib/mysql
      - /usr/share/zoneinfo:/usr/share/zoneinfo:ro

  catalog-database:
    <<: *common-database
    container_name: catalog-database
    ports:
      - "33002:3306"
    volumes:
      - catalog_persistence:/var/lib/mysql
      - /usr/share/zoneinfo:/usr/share/zoneinfo:ro

  review-database:
    <<: *common-database
    container_name: review-database
    ports:
      - "33004:3306"
    volumes:
      - review_persistence:/var/lib/mysql
      - /usr/share/zoneinfo:/usr/share/zoneinfo:ro

  user-database:
    <<: *common-database
    container_name: user-database
    ports:
      - "33005:3306"
    volumes:
      - user_persistence:/var/lib/mysql
      - /usr/share/zoneinfo:/usr/share/zoneinfo:ro

  book-list-service:
    <<: *common-service
    build: ./services/book-list
    container_name: book-list-service
    depends_on:
      book-list-database:
        condition: service_healthy
    healthcheck:
      test: "curl --fail --silent localhost:8083/actuator/health | grep UP || exit 1"
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    ports:
      - "8083:8083"

  catalog-service:
    <<: *common-service
    build: ./services/catalog
    container_name: catalog-service
    depends_on:
      catalog-database:
        condition: service_healthy
    healthcheck:
      test: "curl --fail --silent localhost:8085/actuator/health | grep UP || exit 1"
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    ports:
      - "8085:8085"

  notification-service:
    <<: *common-service
    build: ./services/notification
    container_name: notification-service
    healthcheck:
      test: "curl --fail --silent localhost:8084/actuator/health | grep UP || exit 1"
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    ports:
      - "8084:8084"

  review-service:
    <<: *common-service
    build: ./services/review
    container_name: review-service
    depends_on:
      review-database:
        condition: service_healthy
    healthcheck:
      test: "curl --fail --silent localhost:8082/actuator/health | grep UP || exit 1"
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    ports:
      - "8082:8082"

  user-service:
    <<: *common-service
    build: ./services/user
    container_name: user-service
    depends_on:
      user-database:
        condition: service_healthy
    healthcheck:
      test: "curl --fail --silent localhost:8086/actuator/health | grep UP || exit 1"
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    ports:
      - "8086:8086"

  service-registry:
    <<: *common-service
    build: ./services/service-registry
    container_name: service-registry
    healthcheck:
      test: "curl --fail --silent localhost:8761/actuator/health | grep UP || exit 1"
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 60s
    ports:
      - "8761:8761"

  cloud-gateway:
    <<: *common-service
    build: ./services/cloud-gateway
    container_name: cloud-gateway
    depends_on:
      keycloak:
        condition: service_healthy
      book-list-service:
        condition: service_healthy
      catalog-service:
        condition: service_healthy
      notification-service:
        condition: service_healthy
      review-service:
        condition: service_healthy
      service-registry:
        condition: service_healthy
      user-service:
        condition: service_healthy
    healthcheck:
      test: "curl --fail --silent localhost:8080/actuator/health | grep UP || exit 1"
      interval: 20s
      timeout: 5s
      retries: 5
      start_period: 40s
    ports:
      - "8080:8080"

networks:
  application:
    driver: bridge

volumes:
  book_list_persistence:
  catalog_persistence:
  review_persistence:
  user_persistence:
