eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://service-registry:8761/eureka/
  instance:
    hostname: service-registry

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
    gateway:
      enabled: true

server:
  port: 8087

spring:
  application:
    name: cloud-gateway
  cloud:
    gateway:
      routes:
        filters:
          - PrefixPath=/api
          - TokenRelay=
        id: book-list-route
        predicates:
          - Path=/book-list/**
        uri: http://localhost:8083
  main:
    banner-mode: off
  profiles:
    active: prod
  security:
    oauth2:
      client:
        provider:
          keycloack:
            issuer-uri: http://localhost:8080/realm/bookmark
        registration:
          keycloack:
            client-id:
            client-secret:
            scope: openid, profile, email
